

.el_select_categoryBook{
  width: 100%;
}

.el_form_item_el_data_picker{
  width: 100%;
}


.div_span_close_dialog_add_book_room{
  display: none;
}

.el_form_el_form_item_el_button_resetFome_book{
  display: none;
}

.el-date-editor.el-input, .el-date-editor.el-input__inner {
  /* width: 220px; */
  width: 100%;
}

























