
  .update_house_room_el_dialog{
    height: 101%;
  }

  .update_house_room_div{
  /*  margin-top: -3%;
    margin-left: -10%;*/
    width: 90%;
  }

  .updatehouse_el_room_form{
    width: 100%;
  }
  .hide_update_house_rhnumber{
    display: none;
  }
  .updatehouse_el_select_house_rhmode{
    width: 100%;
  }

  .update_house_el_select_house_apartment{
    width: 100%;
  }
  /* el_form_item_house_rhorientation */
  .update_house_el_form_item_house_rhorientation{
    width: 100%;
  }
  .update_house_el_radio_group_house_rhorientation{
    width: 100%;
  }

  .update_house_el_radio_group_house_rhorientation_east{
    width: 18%;

  }

  .update_house_el_date_picker_house_rhreleasetime{
    width: 300%;
  }
  .update_house_el_form_item_house_rhreleasetime{
    width: 100% !important;
    height: 40px;
  }

  .update_house_input_class{
    width: 100% !important;
    height: 40px;
  }

  .update_house_el_select_house_rhprovinceid{
    width: 100%;
  }

  .update_house_el_select_house_rhciid{
    width: 100%;
  }

  .update_house_el_select_house_rharid{
    width: 100%;
  }

  .el_form_item_el_button_resetFome_house_update{
    display: none;
  }

  .update_house_div_span_close_dialog_update_house_room{
    display: none;
  }

  .update_house_el_button_add_house_room{
    margin-top: 5%;
    margin-left: 17%;
  }

  .update_house_el_form_el_form_item_el_button_resetFome_house{
    display: none;
  }
