
.template_div{



}
.el_form_item_fang_add_buton{
  float: left;
}
.el_button_add_fang{
  margin-left: 0px!important;
}
.el_form_item_el_button_select{
}
.el_button_select{
  margin-left: 16%;
}
.div_div_el_button_fang_room_add{
  margin-bottom: 2%;
  width: 10%;
}
.pagination_el_pagination{
  margin: auto;
  margin-top: 1%;
}





